Options -Indexes
DirectoryIndex index.php

RewriteEngine On
RewriteBase /

# If requested PHP page does not exist in root, serve it from the pages folder.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+\.php)$ pages/$1 [L]
